@model BookingHotel.Models.Enrollment

@{
    ViewData["Title"] = "Details";
    Layout = "_ManagementLayout";
}
<link href="~/css/create.css" rel="stylesheet" />
<h1>Details</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Room Name:
        </dt>
        <dd class="col-sm-10">
            @ViewBag.r
        </dd>

        @if (Model != null)
        {
            <dt class="col-sm-2">
                Guest Name:
            </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Account.name)
                </dd>
                <dt class="col-sm-2">
                    Guest PhoneNumber:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Account.phoneNumber)
                </dd>

            <dt class="col-sm-2">
                Check In Time:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.dateOfReceipt)
            </dd>
        }
        else
        {
            <dt class="col-sm-2">Guest:</dt>
            <dd class="col-sm-10">No guest.</dd>
        }
    </dl>
</div>
<div>
    <div>
        <div>
            <a asp-action="Index" class="btn btn-secondary btn-icon mr-2">
                <i class="fas fa-list"></i> Back to List
            </a>
        </div>

    </div>
</div>
