@{
    Layout = null;
}

@model BookingHotel.ViewModels.LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/TemplateLogin/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/TemplateLogin/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/TemplateLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/TemplateLogin/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/TemplateLogin/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/TemplateLogin/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/TemplateLogin/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/TemplateLogin/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/TemplateLogin/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/TemplateLogin/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/TemplateLogin/css/main.css">
	<!--===============================================================================================-->
	<link href="~/css/login.css" rel="stylesheet" />
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('@Url.Content("~/templatelogin/images/bg_1.jpg")'); background-color: rgba(255, 255, 255, 0.4);">
            <div class="wrap-login100">
                <form class="login100-form validate-form" asp-action="Login" method="post">
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        Log in
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input class="input100" asp-for="Username" type="text" name="username" placeholder="Username">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" asp-for="Password" type="password" name="password" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                       <div class="register-link">
                    <label>
                            You haven't an account?<a asp-controller="Account" asp-action="Register" class="register-link-text"> Register</a>
                    </label>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger" style="margin-top:10px">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>

	<div id="dropDownSelect1"></div>
</body>
</html>
